nodes:
  - mac:
      - "{{item.ansible_facts.openstack_servers.2.addresses.provisioning2.0['OS-EXT-IPS-MAC:mac_addr']}}"
    name: "{{item.ansible_facts.openstack_servers.2.name}}"
    arch: "x86_64"
    capabilities: "node:controller-leaf2-0,profile:controller-leaf2,boot_option:local"
    pm_addr: "{{os_auth}}/{{item.ansible_facts.openstack_servers.2.name}}"
    pm_user: "{{item.item.username}}"
    pm_password: "{{item.item.password}}"
    pm_type: ipmi
  - mac:
      - "{{item.ansible_facts.openstack_servers.1.addresses.provisioning3.0['OS-EXT-IPS-MAC:mac_addr']}}"
    name: "{{item.ansible_facts.openstack_servers.1.name}}"
    arch: "x86_64"
    capabilities: "node:compute-leaf3-0,profile:compute-leaf3,boot_option:local"
    pm_addr: "{{os_auth}}/{{item.ansible_facts.openstack_servers.1.name}}"
    pm_user: "{{item.item.username}}"
    pm_password: "{{item.item.password}}"
    pm_type: ipmi
  - mac:
      - "{{item.ansible_facts.openstack_servers.0.addresses.provisioning4.0['OS-EXT-IPS-MAC:mac_addr']}}"
    name: "{{item.ansible_facts.openstack_servers.0.name}}"
    arch: "x86_64"
    capabilities: "node:compute-leaf4-0,profile:compute-leaf4,boot_option:local"
    pm_addr: "{{os_auth}}/{{item.ansible_facts.openstack_servers.0.name}}"
    pm_user: "{{item.item.username}}"
    pm_password: "{{item.item.password}}"
    pm_type: ipmi
